/* This file contains syntactically valid declarations*/

* {
  text-align: center;
  color: red;
  background-color: blue;
  height: 100px;
  width: 100px;
  font-size: 18px;
  font-family: Arial;
  font-family: "Arial";
  opacity: 0.5;
  padding: 10px;
}